<!DOCTYPE html>
<html lang="de">
  <%- include("./partials/head", {title: "Startseite | Rustica Kaffeerösterei"})
  %>

  <body>
    <header class="header header--home">
      <%- include ("./partials/nav.ejs", {activePage: 'index'}) %>
      <h1 class="site-heading--primary">Rustica</h1>
      <p class="subhead-m site-heading--secondary">Bio und Fair seit 1991</p>
      <a href="#" class="button button--dark header__shop-button"
        ><p>Zum Shop</p></a
      >
    </header>

    <main class="main">
      <section class="about" id="about">
        <div class="about__row about__row-pic-right">
          <div class="about__cell about__cell--text">
            <h2 class="about__heading--secondary">Rösterei & Café</h2>
            <p class="about__text">
              Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen
              Rösterei, serviert im gemütlichen Café in der Innenstadt.
            </p>
            <div class="about__subrow">
              <div class="about__subcell">
                <p class="about__text">
                  Komm vorbei! <br />
                  Fraunhoferstr. 13, Kiel
                </p>
              </div>
              <div class="about__subcell">
                <p class="about__text">
                  Mo – Fr 8–18 Uhr <br />
                  Sa 11–18 Uhr
                </p>
              </div>
            </div>
          </div>
          <div class="about__cell about__cell--image">
            <img
              src="../img/FEND-Coffee-shop.jpg"
              alt="Cafè-Inneres"
              class="about__img"
            />
          </div>
        </div>
        <div class="about__row about__row--pic-left">
          <div class="about__cell about__cell--text">
            <h3 class="about__heading--tertiary">Bio und Fair</h3>
            <p class="about__text">
              Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
              Konsonantien leben die Blindtexte. Weit hinten, hinter den
              Wortbergen, fern der Länder Vokalien und Konsonantien leben die
              Blindtexte. Und das alles in bester Bio Qualität.
            </p>
            <a href="#" class="learn-more-link">mehr</a>
          </div>
          <div class="about__cell about__cell--image">
            <img
              src="../img/FEND-coffee-plant.jpg"
              alt="Kaffeepflanze"
              class="about__img"
            />
          </div>
        </div>
      </section>
      <section class="selection" id="shop">
        <h2>Entdecke unsere<br />Kaffeesorten</h2>
        <div class="selection__group-of-four">
          <!-- prettier-ignore -->
          <%- include ("./partials/products.ejs", 
          {products: [
            {
              imgName: "FEND_Coffee_Costa-Rica 2", 
              countryOfOrigin: "Costa Rica", 
              priceRangeStart: "6,90",
              priceRangeEnd: "26,90",
              icons: [
                "Icon Kaffee Bohnen", 
                "Icon French Press", 
                "Icon Kaffee Schaufel"
              ]
            },
            {
              imgName: "FEND_Coffee_Costa-Rica 2", 
              countryOfOrigin: "Äthiopien", 
              priceRangeStart: "6,90",
              priceRangeEnd: "26,90",
              icons: [
                "Icon Kaffee Bohnen", 
                "Icon French Press", 
                "Icon Kaffee Schaufel"
              ]
            },
            {
              imgName: "FEND_Coffee_Costa-Rica 2", 
              countryOfOrigin: "Costa Rica", 
              priceRangeStart: "6,90",
              priceRangeEnd: "26,90",
              icons: [
                "Icon Kaffee Bohnen", 
                "Icon French Press", 
                "Icon Kaffee Schaufel"
              ]
            },
            {
              imgName: "FEND_Coffee_Costa-Rica 2", 
              countryOfOrigin: "Äthiopien", 
              priceRangeStart: "6,90",
              priceRangeEnd: "26,90",
              icons: [
                "Icon Kaffee Bohnen", 
                "Icon French Press", 
                "Icon Kaffee Schaufel"
              ]
            },
          ]}) %>
        </div>
        <a href="#" class="button button--light-border selection__button">
          alle Produkte
        </a>
      </section>
      <section class="origins" id="origins">
        <h3>Herkunft</h3>
        <p>
          Weit hinten, hinter den Wortbergen,<br />
          fern der Länder Vokalien und<br />
          Konsonantien leben die Blindtexte. <br />
          Und das alles in bester Bio Qualität.
        </p>
        <a href="#">mehr</a>
      </section>
      <section class="contents" id="contents">
        <h2 class="contents__heading">Das steckt drin</h2>
        <div class="contents__container">
          <div class="contents__image">
            <img
              src="../img/FEND_Coffee_Costa-Rica 2.png"
              alt="Kaffee aus Costa Rica"
            />
          </div>
          <div class="contents__text-and-button">
            <div class="contents__descriptions">
              <div class="item icon-1">
                <img
                  src="../img/Icon Kaffee Tasse.svg"
                  alt="Icon Kaffeetasse"
                  class="content-icon"
                />
              </div>
              <div class="item icon-2">
                <img
                  src="../img/Icon Kaffee Schaufel Schwarz.svg"
                  alt="Icon Kaffeeschaufel"
                  class="content-icon"
                />
              </div>
              <div class="item icon-3">
                <img
                  src="../img/Icon-Kaffee Pflanze.svg"
                  alt="Icon Kaffeepflanze"
                  class="content-icon"
                />
              </div>
              <div class="item text-1">Bester<br />Geschmack</div>
              <div class="item text-2">Fair<br />gehandelt</div>
              <div class="item text-3">Bio<br />Qualität</div>
            </div>
            <div class="contents__button">
              <a href="#" class="button button--dark">zum Shop</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include ("./partials/map.ejs") %> <%- include ("./partials/footer.ejs")
    %>
    <script src="../js/index.js"></script>
  </body>
</html>
